* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(9, 36, 121);
    background: linear-gradient(180deg, rgba(9, 36, 121, 1) 20%, rgba(0, 121, 255, 1) 96%);
    min-height: 100vh;
}

.whiteText {
    color: rgb(255, 255, 255);
}

.whiteText:nth-child(1) {
    font-size: 3em;
}

.whiteText:nth-child(2) {
    font-size: 3em;
}

.centerText {
    text-align: center;
}

hr {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.911), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    height: 5px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

.Retorno {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.emotion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.emotion p {
    color: white;
    font-size: 1.5em;
}

.sub-text {
    width: 360px;
}

.sub-text p {
    text-align: center;
}

.emotion img {
    width: 15%;
}

.motivational {
    display: flex;
    justify-content: center;
    align-items: center;
}

.motivational p {
    font-size: 30px;
    text-align: center;
    color: white;
    width: 50%;
    font-weight: 600;
}

.Flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.Flex > div {
    flex: 1 1 300px;
    margin: 10px;
}

.Flex > div > img {
    max-width: 100%;
    display: block;
    transition: 0.5s;
}
.Flex > div > img:hover {
    transform: scale(1.02);
}


@media (min-width: 344px) and (max-width: 430px) {
    .emotion {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .emotion img {
        width: 40%;
    }

    .sub-text {
        width: 300px;
    }

    .motivational p {
        font-size: 20px;
        width: 86%;
    }

    .whiteText:nth-child(1) {
        font-size: 2em;
    }
    
    .whiteText:nth-child(2) {
        font-size: 2em;
    }

    .Retorno > div {
        flex-direction: column;
    }
}


